{#
  Copyright 2017-present Open Networking Foundation

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
#}

tosca_definitions_version: tosca_simple_yaml_1_0

description: created by platform-install, need to add M-CORD services later

imports:
   - custom_types/xos.yaml
   - custom_types/slice.yaml
   - custom_types/site.yaml
   - custom_types/image.yaml
   - custom_types/flavor.yaml
   - custom_types/network.yaml
   - custom_types/networktemplate.yaml
   - custom_types/onosservice.yaml
   - custom_types/networkslice.yaml
   - custom_types/vhssservice.yaml
   - custom_types/vhssvendor.yaml
   - custom_types/vhsstenant.yaml
   - custom_types/vmmeservice.yaml
   - custom_types/vmmevendor.yaml
   - custom_types/vmmetenant.yaml
   - custom_types/oaispgw.yaml
   - custom_types/oaispgwinstance.yaml
   - custom_types/vbbuservice.yaml
   - custom_types/oaibbuservice.yaml
   - custom_types/oaibbuserviceinstance.yaml


topology_template:
  node_templates:

# site, image, fully created in deployment.yaml

    {{ site_name }}:
      type: tosca.nodes.Site
      properties:
        must-exist: true
        name: {{ site_name }}

# Define service instance flavor size

    m1.small:
      type: tosca.nodes.Flavor
      properties:
        name: m1.small
        must-exist: true

    m1.medium:
      type: tosca.nodes.Flavor
      properties:
        name: m1.medium
        must-exist: true

    m1.large:
      type: tosca.nodes.Flavor
      properties:
        name: m1.large
        must-exist: true

    m1.xlarge:
      type: tosca.nodes.Flavor
      properties:
        name: m1.xlarge
        must-exist: true

 # Define image
    trusty-server-multi-nic:
      type: tosca.nodes.Image
      properties:
        name: trusty-server-multi-nic

 # OAI custom image
    image-oai:
      type: tosca.nodes.Image
      properties:
        name: image-oai

 # OAI custom image
    develop-oai-bbu:
      type: tosca.nodes.Image
      properties:
        name: develop-oai-bbu

# management networks, fully created in management-net.yaml
    management:
      type: tosca.nodes.Network
      properties:
        must-exist: true
        name: management

# public network, fully created in public-net.yaml
    public:
      type: tosca.nodes.Network
      properties:
        must-exist: true
        name: public

# Network template
    private_network_template:
      type: tosca.nodes.NetworkTemplate
      properties:
          name: private_network_template
          visibility: private
          access: indirect
          translation: none
          vtn_kind: PRIVATE

# Define Public Network Template
    public_network_template:
      type: tosca.nodes.NetworkTemplate
      properties:
          name: public_network_template
          visibility: public
          translation: none
          vtn_kind: PUBLIC

# mme, hss, spgw network, fully created in oai-net.yaml
    vbbu_network:
      type: tosca.nodes.Network
      properties:
        subnet: 10.0.5.0/24
        name: vbbu_network
      requirements:
          - template:
              node: private_network_template
              relationship: tosca.relationships.BelongsToOne
          - owner:
              node: {{ site_name }}_vbbu
              relationship: tosca.relationships.BelongsToOne

    oaibbu_network:
      type: tosca.nodes.Network
      properties:
        subnet: 10.0.4.0/24
        name: oaibbu_network
      requirements:
          - template:
              node: private_network_template
              relationship: tosca.relationships.BelongsToOne
          - owner:
              node: {{ site_name }}_oaibbu
              relationship: tosca.relationships.BelongsToOne

    vmme_network:
      type: tosca.nodes.Network
      properties:
        subnet: 10.0.6.0/24
        name: vmme_network
      requirements:
          - template:
              node: private_network_template
              relationship: tosca.relationships.BelongsToOne
          - owner:
              node: {{ site_name }}_vmme
              relationship: tosca.relationships.BelongsToOne

    vhss_network:
      type: tosca.nodes.Network
      properties:
        subnet: 10.0.7.0/24
        name: vhss_network
      requirements:
          - template:
              node: private_network_template
              relationship: tosca.relationships.BelongsToOne
          - owner:
              node: {{ site_name }}_vhss
              relationship: tosca.relationships.BelongsToOne

    vspgw_network:
      type: tosca.nodes.Network
      properties:
        subnet: 10.0.8.0/24
        name: vspgw_network
      requirements:
          - template:
              node: private_network_template
              relationship: tosca.relationships.BelongsToOne
          - owner:
              node: {{ site_name }}_oaispgw
              relationship: tosca.relationships.BelongsToOne

{% if use_management_hosts %}
    management_hosts:
      type: tosca.nodes.Network
      properties:
        must-exist: true
        name: management_hosts
{% endif %}

### Service Class

# OAI BBU Service, no service instance, only create Service & Network
    service#oaibbu:
      type: tosca.nodes.OAIBBUService
      properties:
        name: OAIBBUService
        view_url: /admin/oaibbu/oaibbu/$id$/
        kind: vbbu
        public_key: {{ lookup('file', config_cord_profile_dir + '/key_import/mcord_rsa.pub') }}
        private_key_fn: /opt/xos/services/oaibbu/keys/mcord_rsa
      artifacts:
        pubkey: /opt/cord_profile/key_import/mcord_rsa.pub

# OAI BBU Service (develop branch), no service instance, only create Service & Network
    service#oaibbuv:
      type: tosca.nodes.VBBUService
      properties:
        name: VBBUService
        view_url: /admin/oaibbu/vbbu/$id$/
        kind: vbbu
        public_key: {{ lookup('file', config_cord_profile_dir + '/key_import/mcord_rsa.pub') }}
        private_key_fn: /opt/xos/services/vbbu/keys/mcord_rsa
      artifacts:
        pubkey: /opt/cord_profile/key_import/mcord_rsa.pub

# OAI HSS Service, generated 1 service instance: vHSS
    service#oaihss:
      type: tosca.nodes.VHSSService
      properties:
        name: VHSSService
        view_url: /admin/vhss/vhss/$id$/
        kind: vhss
        public_key: {{ lookup('file', config_cord_profile_dir + '/key_import/mcord_rsa.pub') }}
        private_key_fn: /opt/xos/services/vhss/keys/mcord_rsa
      artifacts:
        pubkey: /opt/cord_profile/key_import/mcord_rsa.pub

# OAI HSS Service, generated 1 service instance: vMME
    service#oaimme:
      type: tosca.nodes.VMMEService
      properties:
        name: VMMEService
        view_url: /admin/vmme/vmme/$id$/
        kind: vmme
        public_key: {{ lookup('file', config_cord_profile_dir + '/key_import/mcord_rsa.pub') }}
        private_key_fn: /opt/xos/services/vmme/keys/mcord_rsa
      artifacts:
        pubkey: /opt/cord_profile/key_import/mcord_rsa.pub

# OAI SPGW Service, generated 1 service instance: vSPGW
    service#oaispgw:
      type: tosca.nodes.OAISPGW
      properties:
        name: OAISPGW
        view_url: /admin/oaispgw/oaispgw/$id$/
        kind: oaiservice
        public_key: {{ lookup('file', config_cord_profile_dir + '/key_import/oaispgw_rsa.pub') }}
        private_key_fn: /opt/xos/services/oaispgw/keys/oaispgw_rsa
      artifacts:
        pubkey: /opt/cord_profile/key_import/oaisgpw_rsa.pub

### Service Slice

# OAI BBU Service slice, Use develop-oai-bbu as default iamge
    {{ site_name }}_vbbu:
      description: vBBU Service Slice
      type: tosca.nodes.Slice
      properties:
          name: {{ site_name }}_vbbu1
          default_isolation: vm
          network: noauto
      requirements:
          - site:
              node: {{ site_name }}
              relationship: tosca.relationships.BelongsToOne
          - service:
              node: service#oaibbuv
              relationship: tosca.relationships.BelongsToOne
          - default_image:
              node: develop-oai-bbu
              relationship: tosca.relationships.BelongsToOne
          - default_flavor:
              node: m1.large
              relationship: tosca.relationships.BelongsToOne

# OAI BBU develop Service slice, Use develop-oai-bbu as default iamge
    {{ site_name }}_oaibbu:
      description: oaiBBU Service Slice
      type: tosca.nodes.Slice
      properties:
          name: {{ site_name }}_oaibbu1
          default_isolation: vm
          network: noauto
      requirements:
          - site:
              node: {{ site_name }}
              relationship: tosca.relationships.BelongsToOne
          - service:
              node: service#oaibbu
              relationship: tosca.relationships.BelongsToOne
          - default_image:
              node: develop-oai-bbu
              relationship: tosca.relationships.BelongsToOne
          - default_flavor:
              node: m1.large
              relationship: tosca.relationships.BelongsToOne

# OAI MME Service slice, Use image-oai as default iamge
    {{ site_name }}_vmme:
      description: vMME Service Slice
      type: tosca.nodes.Slice
      properties:
          name: {{ site_name }}_vmme1
          default_isolation: vm
          network: noauto
      requirements:
          - site:
              node: {{ site_name }}
              relationship: tosca.relationships.BelongsToOne
          - service:
              node: service#oaimme
              relationship: tosca.relationships.BelongsToOne
          - default_image:
              node: image-oai
              relationship: tosca.relationships.BelongsToOne
          - default_flavor:
              node: m1.medium
              relationship: tosca.relationships.BelongsToOne

# OAI MME Vender
    oai_vmme:
      type: tosca.nodes.VMMEVendor
      properties:
        name: oai_vmme
      requirements:
        - image:
            node: image-oai
            relationship: tosca.relationships.BelongsToOne
        - flavor:
            node: m1.medium
            relationship: tosca.relationships.BelongsToOne

# OAI HSS Service slice, use image-oai as default image
    {{ site_name }}_vhss:
      description: vHSS Service Slice
      type: tosca.nodes.Slice
      properties:
          name: {{ site_name }}_vhss1
          default_isolation: vm
          network: noauto
      requirements:
          - site:
              node: {{ site_name }}
              relationship: tosca.relationships.BelongsToOne
          - service:
              node: service#oaihss
              relationship: tosca.relationships.BelongsToOne
          - default_image:
              node: image-oai
              relationship: tosca.relationships.BelongsToOne
          - default_flavor:
              node: m1.medium
              relationship: tosca.relationships.BelongsToOne

# OAI HSS Vender
    oai_vhss:
      type: tosca.nodes.VHSSVendor
      properties:
        name: oai_vhss
      requirements:
        - image:
            node: image-oai
            relationship: tosca.relationships.BelongsToOne
        - flavor:
            node: m1.small
            relationship: tosca.relationships.BelongsToOne

# OAI SPGW Service slice, Use image-oai as default image
    {{ site_name }}_oaispgw:
      description: OAI SPGW Service Slice
      type: tosca.nodes.Slice
      properties:
          name: {{ site_name }}_oaispgw1
          default_isolation: vm
          network: noauto
      requirements:
          - site:
              node: {{ site_name }}
              relationship: tosca.relationships.BelongsToOne
          - service:
              node: service#oaispgw
              relationship: tosca.relationships.BelongsToOne
          - default_image:
              node: image-oai
              relationship: tosca.relationships.BelongsToOne
          - default_flavor:
              node: m1.large
              relationship: tosca.relationships.BelongsToOne

# vBBU private network Slice
    vbbu_network_slice:
      type: tosca.nodes.NetworkSlice
      requirements:
        - network:
            node: vbbu_network
            relationship: tosca.relationships.BelongsToOne
        - slice:
            node: {{ site_name }}_vbbu
            relationship: tosca.relationships.BelongsToOne

# oaiBBU private network Slice
    oaibbu_network_slice:
      type: tosca.nodes.NetworkSlice
      requirements:
        - network:
            node: oaibbu_network
            relationship: tosca.relationships.BelongsToOne
        - slice:
            node: {{ site_name }}_oaibbu
            relationship: tosca.relationships.BelongsToOne

# vMME private network Slice
    vmme_network_slice:
      type: tosca.nodes.NetworkSlice
      requirements:
        - network:
            node: vmme_network
            relationship: tosca.relationships.BelongsToOne
        - slice:
            node: {{ site_name }}_vmme
            relationship: tosca.relationships.BelongsToOne

# vHSS private network slice
    vhss_network_slice:
      type: tosca.nodes.NetworkSlice
      requirements:
        - network:
            node: vhss_network
            relationship: tosca.relationships.BelongsToOne
        - slice:
            node: {{ site_name }}_vhss
            relationship: tosca.relationships.BelongsToOne

# vSPGW private network slice
    vspgw_network_slice:
      type: tosca.nodes.NetworkSlice
      requirements:
        - network:
            node: vspgw_network
            relationship: tosca.relationships.BelongsToOne
        - slice:
            node: {{ site_name }}_oaispgw
            relationship: tosca.relationships.BelongsToOne

# Management network slice
    vbbu_management_network:
      type: tosca.nodes.NetworkSlice
      requirements:
        - network:
            node: management
            relationship: tosca.relationships.BelongsToOne
        - slice:
            node: {{ site_name }}_vbbu
            relationship: tosca.relationships.BelongsToOne

    oaibbu_management_network:
      type: tosca.nodes.NetworkSlice
      requirements:
        - network:
            node: management
            relationship: tosca.relationships.BelongsToOne
        - slice:
            node: {{ site_name }}_oaibbu
            relationship: tosca.relationships.BelongsToOne

    vmme_management_network:
      type: tosca.nodes.NetworkSlice
      requirements:
        - network:
            node: management
            relationship: tosca.relationships.BelongsToOne
        - slice:
            node: {{ site_name }}_vmme
            relationship: tosca.relationships.BelongsToOne

    vhss_management_network:
      type: tosca.nodes.NetworkSlice
      requirements:
        - network:
            node: management
            relationship: tosca.relationships.BelongsToOne
        - slice:
            node: {{ site_name }}_vhss
            relationship: tosca.relationships.BelongsToOne

    vspgw_management_network:
      type: tosca.nodes.NetworkSlice
      requirements:
        - network:
            node: management
            relationship: tosca.relationships.BelongsToOne
        - slice:
            node: {{ site_name }}_oaispgw
            relationship: tosca.relationships.BelongsToOne

    vspgw_public_network:
      type: tosca.nodes.NetworkSlice
      requirements:
        - network:
            node: public
            relationship: tosca.relationships.BelongsToOne
        - slice:
            node: {{ site_name }}_oaispgw
            relationship: tosca.relationships.BelongsToOne

    oaibbu_public_network:
      type: tosca.nodes.NetworkSlice
      requirements:
        - network:
            node: public
            relationship: tosca.relationships.BelongsToOne
        - slice:
            node: {{ site_name }}_oaibbu
            relationship: tosca.relationships.BelongsToOne

# OAI Service instances
    serviceinstance#vMME_instance:
      type: tosca.nodes.VMMETenant
      properties:
        name: vmme1
      requirements:
        - vmme_vendor:
            node: oai_vmme
            relationship: tosca.relationships.BelongsToOne
        - owner:
            node: service#oaimme
            relationship: tosca.relationships.BelongsToOne

    serviceinstance#vHSS_instance:
      type: tosca.nodes.VHSSTenant
      properties:
        name: vhss1
      requirements:
        - vhss_vendor:
            node: oai_vhss
            relationship: tosca.relationships.BelongsToOne
        - owner:
            node: service#oaihss
            relationship: tosca.relationships.BelongsToOne

    serviceinstance#vSPGW_instance1:
      type: tosca.nodes.OAISPGWInstance
      properties:
        name: vspgw1
      requirements:
        - owner:
            node: service#oaispgw
            relationship: tosca.relationships.BelongsToOne

    serviceinstance#vSPGW_instance2:
      type: tosca.nodes.OAISPGWInstance
      properties:
        name: vspgw2
      requirements:
        - owner:
            node: service#oaispgw
            relationship: tosca.relationships.BelongsToOne

    serviceinstance#oaiBBU_instance:
      type: tosca.nodes.OAIBBUServiceInstance
      properties:
        name: oaibbu
      requirements:
        - owner:
            node: service#oaibbu
            relationship: tosca.relationships.BelongsToOne
